* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100;
}

.img-banner {
    width: 100%;
    height: 170px;
}

.img-info h2 {
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: lem;
    line-height: 44px;
}

.img-info p {
    padding: 30px 30px 20px;
    font-family: 'arial';
    line-height: 24px;
}

.img-news {
    width: 100%;
    height: 500px;
}

@media only screen and (min-width: 768px) {
    .img-banner {
        display: block;
        width: 100%;
        padding-bottom: 2px;
    }

    .wrapper {
        width: 600px;
        margin: 0 auto;
    }

    .img-info h2 {
        padding: 15px 1px 1px;
    }

    .img-info p {
        padding: 15px 1px 51px;
    }

    .img-news {
        padding-top: 13px;
    }
}

@media only screen and (min-width: 1000px) {
    .wrapper {
        width: 800px;
    }

    .img-info {
        width: 45%;
        float: left;
    }

    .img-news {
        padding-top: 75px;
        width: 45%;
        float: right;
    }
}